html {
  user-select: none;
  font-family: "Barlow Semi Condensed", "serif";
}



body {
  padding: 0;
  margin: 0;
  background: black;
}



.content {
  background: "background login.jpg";
  background-size: cover;

}

.header-wrapper {
  position: relative;
  height: 50px;
}

header {
  position: absolute;
  margin-left: -20px;
  /* Use Js To Response */
  margin-top: -10px;
  /* Use Js To Response */
}


header ul {
  display: flex;
  justify-content: left;
  align-items: center;
}


header ul li,
header ul li a {
  list-style: none;
  text-decoration: none;
  color: lightgray !important;
  margin: 1px;
  margin-left: 3px;
  font-size: 1.1rem;
}




.line-up {
  color: white !important;
  font-size: 1.5rem !important;
}




header ul li a:hover {
  background: none !important;
}


lan {
  position: absolute;
  margin-left: 900px;
  /* Use Js To Response */
  color: white;
  margin-top: -50px;
  /* Use Js To Response */
  padding: 10px;
}


footer {
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer-wrapper {
  position: absolute;
  margin-top: 100vh;
  display: none;
}


footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


footer ul li span,
footer ul li {
  color: lightgray;
  font-size: 1.05rem;
  list-style: none;
  margin-top: 20px;
}


.space-between {
  word-spacing: 5px;
}


.login-form {
  color: gray;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(165px);
}




.login-form .form .title-wrapper, .login-form .form .description-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-style: bold;
}


.login-form .form .description-wrapper {
  font-size: 2rem;
}


.login-form .form input[type="email"], .login-form .form input[type="password"] {
  height: 2rem;
  width: 25rem;
  background: transparent;
  outline: none;
  border: 0.1rem solid gray;
  padding: 0.1rem;
  border-radius: 0.15rem;
  font-size: 1.2rem;
  font-family: "Barlow Semi Condensed", "serif";
  font-weight: bold;
  color: #4A4A4A;
  padding-left: 0.5rem;
}


.login-form .form .email-wrapper , .login-form .form .password-wrapper {
  display: flex;
  flex-direction: column;
}


.title {
  font-weight: 600 !important;
  font-size: 2.1rem;
  color: #4A4A4A;
}


.description {
  font-weight: 600 !important;
  font-size: 1.1rem;
  color: #4A4A4A;
}


.diamond-icon {
  height: 1.5rem;
  transform: translateY(5px) rotate(-15deg);
}


.coin-icon {
  height: 1.5rem;
  transform: translateY(5px) rotate(-15deg);
}


.highlight {
  color: green;
}


.inputs-wrapper label {
  color: gray;
  font-weight: 600;
  padding-bottom: 0.2rem;
}



.inputs-wrapper span {
  font-weight: 400;
  font-size: 0.9rem;
  padding: 0.4rem;
}




.email-wrapper, .password-wrapper {
  padding: 0.2rem;
}



.check-box-wrapper input[type="checkbox"] {
  appearance: none;
  height: 0.9rem;
  width: 0.9rem;
  outline: 0.08rem solid gray;
}

.check-box-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 0.01rem;
}



.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}




.btn-wrapper button {
    background: linear-gradient(to right, #4a90e2, #f94d6a); 
    color: white; 
    font-size: 18px; 
    font-weight: bold; 
    outline: 5px solid #e0b74e;
    border-radius: 3px;
    padding: 10px 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
    text-transform: uppercase;
    transition: opacity 0.2s ease-in-out;
    border: 1px solid black;
}

.btn-wrapper button:active {
    opacity: 0.5;
}



.btn-outer {
  outline: 1px solid black;
  padding: 4px;
  border-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
}




.inputs-wrapper:hover> :not( :hover) {
  opacity: 0.8;
}
